---
layout: default
coverPhoto: "/assets/img/banner.jpg"
---

<!-- Don't show pagination bar in homepage -->
{% if paginator.page > 1 %}

{% endif %}

<!-- Loop for posts by paginator -->
{% for post in paginator.posts %}

  <!-- Article -->
  <article>

    <!-- Article title -->
    <ul><li><a href="{{ site.baseurl }}{{ post.url }}" class="h4">{{ post.title }}</a><ul><li>

  </article><!-- article -->

{% endfor %}
    
<!-- Include pagination bar -->
{% include pagination.html section="bottom" %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9PNC9JT63S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9PNC9JT63S');
  </script>
