---
layout: default
title: Kakkou no Iinazuke
epsname: Ikatan Perjodohan
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1028749976408440842/mpv-shot0152.jpg
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Kisah seorang muda-mudi yang semasa bayi tertukar gegara salah naro kasur.</p>
  
  <p> Bareng <a href="https://www.perpusindo.info/user/Leqek@Doll" target="_blank">Doll Fansub</a><br>
    Alih Bahasa, Pengolah Video, Penyelaras Akhir: Leqek@Doll<br>
    Tata Rias: Noromi<br>
    Penyelaras Waktu: KiryuuNii</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['Kakkou-no-Iinazuke'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>