---
layout: default
title: Shadows House 2nd Season
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1023090125556678706/unknown.png
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Musim kedua dari serial <a href="https://a-1.fansub.id/Shadows-House-Paketan">Shadows House</a>.</p>

  <p>Pengolah Video: Azkaxfannx<br>
  Sisanya: Noromi</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['Shadows-House-2nd-Season'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>