---
layout: default
title: Shinmai Renkinjutsushi no Tenpo Keiei
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1028749977083723867/mpv-shot0150.jpg
---

<div>
  <article>
<h1>{{ page.title }}</h1>

<section>
  <div class="fade-in"><p><img src={{ page.coverPhoto }} style="
    position: absolute;
    filter: blur(30px);
    opacity: 0.5;"></p></div>
  <p><img src={{ page.coverPhoto }} style="
    position: relative;"></p>

<p>Setelah menempuh waktu selama lima tahun, impian Sarasa menjadi seorang alkemis akhirnya terwujud. Selebihnya bisa tonton sendiri<br><br>

  Bareng <a href="https://www.perpusindo.info/user/Leqek">Doll Fansub</a><br>
  Alih Bahasa, Tata Rias: Rokhiq<br>
  Pengecek Terjemahan, Pengolah Video: Leqek<br>
  Penyelaras Akhir: KiryuuNii</p>

<p>Unduh</p>
<hr>
  <ul>
    {% for post in site.tags['Shinmai-Renkinjutsushi-no-Tenpo-Keiei'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}" class="h4">{{ post.title }}</a></li><br>
    {% endfor %}
    </ul>
<br>
Ikuti kami di: <a href="https://discord.gg/8QeuePwYgV" target="_blank">Discord</a> <a href="https://fb.me/a1fansub" target="_blank">Facebook</a> <a href="https://t.me/a1fansub" target="_blank">Telegram</a><br>
Cek kondisi garapan di <a href="{{ site.url }}/kondisi-garapan">sini</a></section>
</article>

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

<!-- Addthis -->
<div class="addthis_sharing_toolbox mt"></div>
<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "a-1fansub" %}

<!-- Full width -->
<div class="full">

  <!-- Disqus -->
  <div id="disqus_thread" class="mt mb"></div>
  <script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://a-1fansub.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

</div><!-- .full -->

{% endif %}
</div>