---
layout: default
title: Slime Taoshite 300-nen, Shiranai Uchi ni Level Max ni Nattemashita (BD)
eps: Membunuh Slime 300 Tahun, Tahu-Tahu Levelku Maksimal
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1003664979347656774/mpv-shot0110.jpg
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Setelah sekarat karena kebanyakan kerja di dunia nyata, aku bereinkarnasi menjadi seorang penyihir abadi, aku sudah menikmati hidup santai selama 300 tahun. Suatu saat, tiba-tiba levelku mentok ke level 99! Itu karena aku terlalu banyak membunuh slime, karena itu mata pencaharianku untuk mencari uang dan menambah exp … rumor tentang ada penyihir level 99 menyebar cepat ke telinga petualang, naga, dan bahkan monster gadis yang memanggilku mama! Aku tak pernah berpetualang, tapi aku menjadi yang terkuat sedunia … apa yang akan terjadi dengan kehidupan santaiku nantinya?!</p>

  <p>Soloyolo: Noromi</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['Slime-Taoshite-300-nen,-Shiranai-Uchi-ni-Level-Max-ni-Nattemashita-bd'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>