---
layout: default
title: Slime Taoshite 300-nen, Shiranai Uchi ni Level Max ni Nattemashita
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1003664979347656774/mpv-shot0110.jpg
---

<div>
  <article>
<h1>{{ page.title }}</h1>

<section>
  <div class="fade-in"><p><img src={{ page.coverPhoto }} style="
    position: absolute;
    filter: blur(30px);
    opacity: 0.5;"></p></div>
  <p><img src={{ page.coverPhoto }} style="
    position: relative;"></p>

<p>Setelah sekarat karena kebanyakan kerja di dunia nyata, aku bereinkarnasi menjadi seorang penyihir abadi, aku sudah menikmati hidup santai selama 300 tahun. Suatu saat, tiba-tiba levelku mentok ke level 99! Itu karena aku terlalu banyak membunuh slime, karena itu mata pencaharianku untuk mencari uang dan menambah exp … rumor tentang ada penyihir level 99 menyebar cepat ke telinga petualang, naga, dan bahkan monster gadis yang memanggilku mama! Aku tak pernah berpetualang, tapi aku menjadi yang terkuat sedunia … apa yang akan terjadi dengan kehidupan santaiku nantinya?!<br><br>

  Solo: Rokhiq</p>

<p>Unduh</p>
<hr>
    {% for post in site.categories['Slime-Taoshite-300-nen,-Shiranai-Uchi-ni-Level-Max-ni-Nattemashita'] %}
    <ul><li><a href="{{ site.baseurl }}{{ post.url }}" class="h4">{{ post.title }}</a></li></ul><br>
    {% endfor %}
<br>
Ikuti kami di: <a href="https://discord.gg/8QeuePwYgV" target="_blank">Discord</a> <a href="https://fb.me/a1fansub" target="_blank">Facebook</a> <a href="https://t.me/a1fansub" target="_blank">Telegram</a><br>
Cek kondisi garapan di <a href="{{ site.url }}/kondisi-garapan">sini</a></section>
</article>

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

<!-- Addthis -->
<div class="addthis_sharing_toolbox mt"></div>
<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "a-1fansub" %}

<!-- Full width -->
<div class="full">

  <!-- Disqus -->
  <div id="disqus_thread" class="mt mb"></div>
  <script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://a-1fansub.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

</div><!-- .full -->

{% endif %}
</div>