---
layout: default
title: Slow Loop
epsname: SLOW LOOP
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1003664980547211325/mpv-shot0076.jpg
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Gugup karena akan bertemu dengan ayah tirinya, Hiyori selalu pergi ke laut. Saat gadis yang penuh rasa ingin tahu, Koharu muncul, Hiyori memutuskan untuk mengajarinya cara mancing, seperti yang ayahnya ajarkan sebelum meninggal. Setelah Koharu muncul, dia bertemu dengannya lagi saat makan malam dengan ayah tirinya. Dan pertemanan mereka berlanjut ke level berikutnya!</p>

  <p>Alih Bahasa, Tata Rias: Noromi<br>
  Penyelaras Waktu: Noromi, KiryuuNii<br>
  Pengolah Video, Penyelaras Akhir: KiryuuNii</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['Slow-Loop'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>