---
layout: default
title: takt op.Destiny (BD)
epsname: takt op.Takdir
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1028749976693649509/mpv-shot0151.jpg
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Berlatar tempat di Amerika tahun 2047, di mana semua hancur dirusak oleh D2. Takt, seorang Konduktor berpasangan dengan Musikart Unmei. Takt bercita agar musik dapat kembali ke dunia, karena D2 musik seperti dicekal tak boleh diputar, karena jika memutar musik, D2 akan datang menghampiri sumber musik itu dan menghancurkannya. Sedangkan Unmei berharap dapat melenyapkan D2. Tujuan mereka ialah ‘tuk pergi ke New York. Akankah keinginan dan tujuan mereka tercapai?</p>

  <p>Soloyolo: Noromi</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['takt-op.Destiny-bd'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>