---
layout: default
title: Tonikaku Kawaii (BD)
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1003664979087593492/mpv-shot0111.jpg
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Cerita dimulai dari tokoh protagonis yang memiliki nama dari penulisan “Hoshizora”(Langit berbintang), tapi dipanggil “Nasa”. Suatu hari saat ujian masuk SMA, Nasa bertemu dengan gadis cantik bernama Tsukasa. Nasa merasa kalau ini adalah takdir dan mencoba memanggil gadis tersebut, tapi Nasa mengalami nasib buruk tertabrak truk dan tak bisa melanjutkan ujian masuk SMA.</p>

  <p>Setelah Tsukasa membantu menyembuhkan luka Nasa, Nasa mengutarakan perasaannya, dan gadis itu menyetujuinya, tapi hanya jika Nasa mau menikahinya. Setahun kemudian Nasa lulus ujian masuk, tapi ia memutuskan untuk bekerja paruh waktu daripada melanjutkan sekolah. Setelah berumur 18 tahun, Tsukasa muncul lagi, dan kehidupan pernikahan yang menyenangkan, romantis, dan misterius dimulai.</p>

  <p>Soloyo: Noromi</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['Tonikaku-Kawaii-bd'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>