<header role="banner">
      <!--<h1 class="logo">{{ site.title }}</h1>-->
      <nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}
   <li><a href="https://github.com/A-1Fansub/A-1Subtitles" target="_blank">Arsip Takarir</a></li>
   <li><a href="https://discord.gg/8QeuePwYgV" target="_blank">Discord</a></li>
   <li><a href="https://fb.me/a1fansub" target="_blank">Facebook</a></li>
   <li><a href="https://a1fansub.t.me" target="_blank">Telegram</a></li>
</ul>
</nav>
</header>