---
layout: default
---

<!-- Article -->
<article{% if site.addthisId == "" and site.disqusUsername == "a-1fansub" %} class="noBorder"{% endif %}>

  <!-- Article title -->
  <h1>{{ page.title }}</h1>

  <!-- Article date -->
  <span class="article__date"> 
    {% if site.lang == "id" %}
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} 
      {% case m %}
        {% when "1" %}Januari 
        {% when "2" %}Februari
        {% when "3" %}Maret
        {% when "4" %}April 
        {% when "5" %}Mei 
        {% when "6" %}Juni 
        {% when "7" %}Juli 
        {% when "8" %}Agustus 
        {% when "9" %}September
        {% when "10" %}Oktober
        {% when "11" %}November
        {% when "12" %}Desember
      {% endcase %}
      {{ page.date | date: "%Y, %H:%M" }}
    {% else %}
      {{ page.date | date_to_long_string | upcase }}
	  {% endif %} •</span><span> <a href="{{ site.url }}/kategori/{{ page.category }}" class="article__date">#{{ page.category }}</a></span>
	
  <!-- Article description -->
  <section><p><img src={{ page.coverPhoto }} alt=""></p>

	  {{ page.content }}
	<br>
	Ikuti kami di: <a href="https://discord.gg/8QeuePwYgV" target="_blank">Discord</a> <a href="https://fb.me/a1fansub" target="_blank">Facebook</a> <a href="https://t.me/a1fansub" target="_blank">Telegram</a><br>
  Cek kondisi garapan di <a href="{{ site.url }}/kondisi-garapan" target="_blank">sini</a></section>
  
  
</article><!-- article -->

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

  <!-- Addthis -->
  <div class="addthis_sharing_toolbox mt"></div>
  <script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "a-1fansub" %}

  <!-- Full width -->
  <div class="full">

    <!-- Disqus -->
    <div id="disqus_thread" class="mt mb"></div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://a-1fansub.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

  </div><!-- .full -->

{% endif %}
