---
layout: default
comments: true
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>
  {{ content }}
  <span class="meta">
    Laporkan masalah, kritik-saran ke <a href="https://discord.gg/8QeuePwYgV" target="_blank">Discord</a>/<a href="https://fb.me/a1fansub" target="_blank">Facebook</a>.<br>
    <a href="https://trakteer.id/a-1fansub">Donasi</a> &middot; <a href="{{ site.url }}/kondisi-garapan">Kondisi Garapan</a>.</span>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</section>