---
layout: compress
---

<!DOCTYPE html>
<html lang="id" >
  {% include head.html %}  
  <body>
    <main role="main">
	    
      <a href="/">
      <div id="banner-load"></div></a>
      <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>
      <script>
            var images = ['https://a-1.fansub.id/assets/banner/banner1.png','https://a-1.fansub.id/assets/banner/banner2.png','https://a-1.fansub.id/assets/banner/banner3.png',];
            $('<img src="' + images[Math.floor(Math.random() * images.length)] + '">').appendTo('#banner-load');
        </script>
    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>  
  </body>
</html>
