---
layout: compress
---

<!DOCTYPE html>
<html lang="id" >
  {% include head.html %}  
  <body>
    <main role="main">
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
            

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9PNC9JT63S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9PNC9JT63S');
  </script>    
  </body>
</html>
