---
layout: default
title: Tensai Ouji no Akaji Kokka Saisei Jutsu
epsname: Solusi Pangeran Jenius Atasi Defisit Negara
coverPhoto: https://cdn.discordapp.com/attachments/970663117057032232/1003664980043898930/mpv-shot0108.jpg
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <p><img src={{ page.coverPhoto }}></p>

  <p>Pada suatu hari di suatu negeri nan jauh tinggallah seorang pangeran, seorang pangeran yang jenius. Pangeran jenius berjuang bersama rakyatnya memimpin mereka mencapai banyak kemenangan. Namun, yang sebenarnya, dia hanya ingin meninggalkan semuanya dan hidup santai.</p>

  <p>Alih Bahasa, Tata Rias: KiryuuNii<br>
  Penyelaras Waktu: KiryuuNii, Noromi<br>
  Pengolah Video, Penyelaras Akhir: Noromi</p>

  <p>Unduh</p>
  <hr>

    <ul>
      {% for post in site.categories['Tensai-Ouji-no-Akaji-Kokka-Saisei-Jutsu'] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.epsname %}Episode {{ post.eps }}: {{ post.epsname }}{% else %}Episode {{ post.eps }}: {{ page.title }}{% endif %}</a></li>
    {% endfor %}
    </ul><br><br>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
 
    </section>